@layer utilities {
    @keyframes scroll-horizontal {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }

    .infinite-scroll-horizontal {
      animation: scroll-horizontal 20s linear infinite;
    }
}